<!--
<a id="logo" href='{{ (cond (and (ne .Site.Params.landingPageURL "/") (.Site.IsMultiLingual)) .Site.Params.landingPageURL "/") }}'>
  <img src="test/images/logo-white.png" alt="logo">
</a>
-->

<!--
<a id="logo" href='https://dreadflopp.github.io/dreadsskyrimbuild'>
  <img src="/dreadsskyrimbuild/images/circle-icons-1295218.svg" alt="logo">
</a>
-->

<a class="logo" href='https://dreadflopp.github.io/dreadsskyrimbuild'>
  <p class="logo">Dread's</p>
  <p class="logo">Skyrim Build</p>
</a>

<style>

  .logo {
    color: white;
    font-size: 2rem;
    margin: 0;
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 900;;
  }
</style>